.card 
  border: 1px solid #ccc
  border-radius: 8px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  padding: 16px
  width: 500px /* Adjust the width here */
  height: 350px /* Adjust the height here */
  margin: 0 auto
  margin-top: 30px // Adjust this value to vertically center the card
  

  .card-title 
    text-align: centre
    font-size: 24px
    font-weight: bold
    margin-bottom: 10px
    position: relative // To position the divider
  
  .divider 
    width: 100%
    margin: 8px auto
    border: 0
    border-top: 3px solid #393434

.card-content 
    margin-top: 30px

    
