<app-background></app-background>
<app-home-navbar></app-home-navbar>
<div class="container">
    <div class="profile-container">
        <div class="profile-image-container">
          <mat-icon class="person-icon">person</mat-icon>
        </div>
        <mat-card-content>
          <mat-card-title>{{ account?.title }} {{ account?.firstName }} {{ account?.lastName }}</mat-card-title><br>
          <mat-card-subtitle>Email: {{ account?.email }}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button class = 'mat-button' routerLink="/update">Update Profile</a>
        </mat-card-actions>
    </div>
  </div>