mat-toolbar 
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 0 16px /* Adjust padding as needed */


button[mat-icon-button] 
  margin-right: 8px /* Add margin between the back button and other content */

