.navbar-container 
  position: fixed
  top: 0
  left: 0
  right: 0
  padding-top: 0px
  padding-bottom: 0.05px
  z-index: 1

// hamburger menu
mat-toolbar.mat-elevation-z6 
  display: flex
  justify-content: space-between
  height: 48px
  align-items: center

  .navbar-logo 
    width: 40px 
    margin-right: 900px

  .mat-button 
    font-size: 20px
    cursor: pointer
    height: auto
  
  .spacer 
    flex: 1 /* Specify a value for the flex property */

.mat-menu-content 
  display: flex
  flex-direction: column

// Styles for the menu items inside the dropdown
.mat-menu-item 
  display: flex
  align-items: center
  padding: 8px 16px
  color: #333 /* Text color for the dropdown items */
  text-decoration: none /* Remove underlines from anchor links */
  transition: background-color 0.2s

  &:hover /* Use &:hover to correctly define the hover pseudo-class */
    background-color: #f0f0f0 /* Background color when hovering over the items */

  .mat-icon 
    margin-right: 8px

// navbar buttons
.navbar-buttons 
  display: flex
  align-items: center

.navbar-buttons a,
.navbar-buttons button 
  cursor: pointer
  margin-right: 16px
