<app-background></app-background>
<app-subnavbar></app-subnavbar>
<app-card>
<h1>Update Profile</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="mb-3 col-2">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <mat-select formControlName="title">
          <mat-option value=""></mat-option>
          <mat-option value="Mr">Mr</mat-option>
          <mat-option value="Mrs">Mrs</mat-option>
          <mat-option value="Miss">Miss</mat-option>
          <mat-option value="Ms">Ms</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="submitted && f.title.errors">Title is required</mat-error>
    </div>
    <div class="mb-3 col-5">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-error *ngIf="submitted && f.firstName.errors">First Name is required</mat-error>
    </div>
    <div class="mb-3 col-5">
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
      <mat-error *ngIf="submitted && f.lastName.errors">Last Name is required</mat-error>
    </div>
  </div>
  <div class="mb-3">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="submitted && f.email.errors">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </mat-error>
    </mat-form-field>
  </div>
  <h3 class="pt-3">Change Password</h3>
  <p>Leave blank to keep the same password</p>
  <div class="row">
    <div class="mb-3 col">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <mat-error *ngIf="submitted && f.password.errors">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </mat-error>
    </div>
    <div class="mb-3 col">
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
      </mat-form-field>
      <mat-error *ngIf="submitted && f.confirmPassword.errors">
        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </mat-error>
    </div>
  </div>
  <div class="button-container">
    <button mat-raised-button type="submit" [disabled]="submitting">
      <span *ngIf="submitting" class="mat-progress-spinner"></span>
      Update
    </button>
    <button mat-raised-button type="button" (click)="onDelete()" [disabled]="deleting">
      <span *ngIf="deleting" class="mat-progress-spinner"></span>
      Delete
    </button>
    <a routerLink="../" href="" class="cancel-link">Cancel</a>
  </div>
</form>
</app-card>
