
<div class="info-block">
    <div class="info-block-label">
      <div class="icon">
        <img [src]="labelImageSrc" alt="Weather Icon" class="weather-icon">
        <span>{{ labelText }}</span>
      </div>
      <div class="unit-selection">
        <mat-button-toggle-group [(ngModel)]= "selectedUnits" (ngModelChange)="onUnitsChange()">
          <mat-button-toggle *ngFor="let option of buttonToggleOptions" [value]="option">{{ option }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="info-block-value">
      {{ selectedUnits === 'metric' ? temperature[0] : temperature[1] }}
      {{ selectedUnits === 'metric' ? unitSymbols[0] : unitSymbols[1] }}
    </div>
  </div>
  
