
.info-block
  padding: 15px
  display: flex
  flex-direction: column
  align-items: flex-start

.info-block-label
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  width: 100%

.icon img
  width: 1.9em

.icon img.weather-icon 
  width: 2em

.icon span
  color: var(--black)
  font-size: 1em
  font-weight: bold

.unit-selection 
  margin-left: 10px

.info-block-value
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 5px
  font-weight: bold
  font: 1em sans-serif

.mat-button-toggle.mat-button-toggle-checked, mat-button-toggle.cdk-focused, mat-button-toggle.cdk-mouse-focused
  background: #6477e6

