<div class="info-block">
  <div class="info-block-label">
    <div class="icon">
      <img [src]="labelImageSrc" alt="Weather Icon" class="weather-icon">
      <span>{{ labelText }}</span>
    </div>
    <div class="unit-selection" *ngIf="toggleRequired">
      <mat-button-toggle-group appearance="legacy" color="primary" [(ngModel)]="selectedUnits" (ngModelChange)="onUnitsChange()" color="primary">
        <mat-button-toggle *ngFor="let option of buttonToggleOptions" [value]="option">{{ option }}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="info-block-value">
      {{ toggleRequired ? (selectedUnits === buttonToggleOptions[0] ? values[0] + UnitSymbols[0] : values[1] + UnitSymbols[1]) : values[0] + UnitSymbols[0] }}
    </div>
  </div>
</div>
