<app-background></app-background>
<app-subnavbar></app-subnavbar>
<app-card>
        <h1>Forgot Password</h1>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <mat-error *ngIf="submitted && f.email.errors">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email is invalid</div>
                </mat-error>
            </mat-form-field>
            <div class = 'button-container'>
                <button mat-raised-button [disabled]="loading" color="primary">
                    <span *ngIf="loading" class="mat-spinner mat-spinner-sm me-1"></span>
                    Submit
                </button>
                <a mat-button routerLink="../login" class="cancel-link">Cancel</a>
            </div>
        </form>
    </mat-card-content>
</app-card>
