<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo" src="../assets/icon2.png" />

    <div class = 'button-container'>
    <div class = buttons>
    <button mat-button>Log in</button>
    <button mat-button>Create Account</button>
    </div>
    </div>
  </div>
  
<div class="body">
    <h1>You can now know the Weather Conditions Of The Region You Are In.</h1>
    <p>
        Search and get weather conditions Of The Regions Of interest to you and so
        much more including weather forecasting to help in your planning.
    </p>
  
    
<footer>
      <!-- Footer content goes here -->
</footer>
  
    <svg
    id="clouds"
    xmlns="http://www.w3.org/2000/svg"
    width="2611.084"
    height="485.677"
    viewBox="0 0 2611.084 485.677"
    >
    </svg>
    
  </div>
  
  <router-outlet></router-outlet>