<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo" src="../assets/icon2.png" />

    <div class = 'button-container'>
    <div class = buttons>
    <button mat-button>Log in</button>
    <button mat-button>Create Account</button>
    </div>
    </div>
  </div>
  
<div class="body">
    <h1>Get Forecast Now:Your personal Weather Assistant.</h1>
    <p>
        Welcome to ForecastNow, your ultimate weather app that brings you real-time weather updates and forecasts for any region you desire. Stay informed about the weather conditions of your current location and plan ahead with confidence for your travels and activities. 
    </p>

    <button class="get-started-button" mat-button>Get Started</button>

  
    
<footer>
      <!-- Footer content goes here -->
</footer>

    
  </div>
  
  <router-outlet></router-outlet>