<app-home-navbar></app-home-navbar>
<div class="page-content">
<div class="top-section">
    <form #form="ngForm" (submit)="onSubmit()">
      <div class = input-row>
        <mat-form-field>
            <input matInput type="text" placeholder="Search city" name="cityName" [(ngModel)]="cityName" (keydown.enter)="onSubmit()">
          </mat-form-field>
          
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Select a date" name="selectedDate" [(ngModel)]="selectedDate" (keydown.enter)="onSubmit()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary">submit
        </button>
      </div>
  </form>
  </div>

  <div class="home-container-wrapper">
      <div class="home-container" *ngIf="IweatherData">
         <!-- Weather data section -->
         <div class="upper-data" *ngFor="let forecastDay of IweatherData.forecast.forecastday" >
          <img src="../assets/hot.jpg"*ngIf="forecastDay.day.avgtemp_c > 15">
          <img src="../assets/cold.jpg"*ngIf="forecastDay.day.avgtemp_c < 15">
    
        <div class="weather-data">
            <div class="temperature">{{ forecastDay.day.avgtemp_c }}°C</div>
            <div class="location">{{ IweatherData.location.name}},{{ IweatherData.location.country}}</div>


        </div>
    </div>
    
    <div class="lower-data" *ngFor="let forecastDay of IweatherData.forecast.forecastday" >
      
        <div class="more-info-container" *ngFor="let forecastDay of IweatherData.forecast.forecastday" >
          <div class="temperature-info">
               <app-weathercard-info
                [forecastDay]="IweatherData"
                labelImageSrc="../assets/sun.png"
                labelText="Feels Like"
                [buttonToggleOptions]="['Celsius', 'Fahrenheit']"
                unitSymbols="['°C', '°F']"
                [values]="[forecastDay.day.avgtemp_c,forecastDay.day.avgtemp_f]"
                ></app-weathercard-info>

                <app-weathercard-info
                [forecastDay]="IweatherData"
                labelImageSrc="../assets/min.png"
                labelText="Min temperature"
                [buttonToggleOptions]="['Celsius', 'Fahrenheit']"
                unitSymbols="['°C', '°F']"
                [values]="[forecastDay.day.mintemp_c,forecastDay.day.mintemp_f]"

                ></app-weathercard-info>

                <app-weathercard-info
                [forecastDay]="IweatherData"
                labelImageSrc="../assets/max.png"
                labelText="Max temperature"
                [buttonToggleOptions]="['Celsius', 'Fahrenheit']"
                unitSymbols="['°C', '°F']"
                [values]="[forecastDay.day.maxtemp_c,forecastDay.day.maxtemp_f]"

                ></app-weathercard-info>

                <app-weathercard-info
                [forecastDay]="IweatherData"
                labelImageSrc="../assets/avgtemp.png"
                labelText="Avg Temperature"
                [buttonToggleOptions]="['Celsius', 'Fahrenheit']"
                unitSymbols="['°C', '°F']"
                [values]="[forecastDay.day.avgtemp_c,forecastDay.day.avgtemp_f]"
                ></app-weathercard-info>
              </div>

              <div class="wind-info">
                <app-weathercard-info
                [forecastDay]="IweatherData"
                labelImageSrc="../assets/wind.png"
                labelText="Wind"
                [buttonToggleOptions]="['kph', 'mph']"
                unitSymbols="['kph','mph']"
                [values]="[forecastDay.day.maxwind_kph,forecastDay.day.maxwind_mph]"

                ></app-weathercard-info>

                <app-weathercard-info
                [forecastDay]="IweatherData"
                labelImageSrc="../assets/winddegree.png"
                labelText="Wind Degree"
                [values]="[IweatherData.current.wind_degree]"
                ></app-weathercard-info>


                <app-weathercard-info
                [forecastDay]="IweatherData"
                labelImageSrc="../assets/humidity.png"
                labelText="Humidity"
                [values]="[forecastDay.day.avghumidity]"

                ></app-weathercard-info>

                <app-weathercard-info
                [forecastDay]="IweatherData"
                labelImageSrc="../assets/rain.png"
                labelText="Precipitation"
                [values]="[IweatherData.current.precip_mm]"

                ></app-weathercard-info>
                </div>



            </div>
        </div>
    </div>
</div>
<!-- </div> -->

