/* Global Styles */
:root
  --blue-1: #3C429E
  --blue-2: #4C52AD
  --yellow-1: #FAC742
  --white: #FFF
  --grey-1: #EDEDED
  --shadow-dark: rgba(0, 0, 0, 0.3)
  --shadow-light: rgba(255, 255, 255, 0.1)
  --grey: #CCCCCC
  --black: #1c1c1e


.page-content 
  margin-top: 20px
  background-color: transparent
  position: relative


/* Top Section */
.top-section
  display: flex
  align-items: center
  justify-content: center
  padding: 40px
  margin-bottom: 10px
  

.top-section input.mat-input,
.top-section input[type="date"].mat-input
  flex: 1
  padding: 8px
  border: 1px solid #ccc
  border-radius: 20px
  font-size: 14px
  gap: 10px

.input-row
  display: flex
  gap: 20px

.top-section button.mat-raised-button
  border: none
  border-radius: 20px
  font-size: 14px
  display: flex
  margin-top: -30px
  z-index: 1

.home-container-wrapper 
  padding-top: 20px

.home-container
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-size: 16px
  width: 1000px
  height: 120vh
  overflow-y: auto
  border-radius: 20px
  box-shadow: -10px 0 10px var(--shadow-dark), 10px 0 10px var(--shadow-dark)
  margin: -50px auto 0 auto 
  display: flex
  flex-direction: column
  overflow: hidden
  

/* Upper and Lower Data Sections */
.upper-data,
.lower-data
  position: relative
  width: 100%
  height: 50%
  border-radius: 20px
  display: flex
  justify-content: center
  align-items: center

.upper-data
  overflow: hidden
  border-bottom: none

.upper-data img
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.lower-data
  background-color: white
  overflow: hidden
  padding: 1em
  display: flex
  flex-direction: column
  align-items: center
  

/* Weather Data Section */
.weather-data
  position: relative
  width: 100%
  height: 100%
  background-color: var(--shadow-dark)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.location
  color: var(--white)
  text-align: center
  font-size: 1.2em
  margin-top: 30px

.temperature
  color: var(--white)
  font-size: 4em
  text-align: center
  font-weight: 900

.more-info-container
  background-color: white
  margin-top: 1em
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly

.temperature-info 
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.wind-info
  display: flex
  justify-content: space-between
  flex-wrap: wrap


